.main {
    display: flex;
    background-color: #ebebf2;
    flex: 1;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.genderGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 1vh 2vw;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    /* margin: 10px 10px 10px 0; */
}

.buttonRight {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 1vh 2vw;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    margin: 10px 0 10px 10px;
}

.buttonLeft:hover {
    border-color: #2253e5;
    cursor: pointer;
}

.buttonRight:hover {
    border-color: #2253e5;
    cursor: pointer;
}

.buttonLeftFocus {
    border-color: #2253e5;
    background-color: lightblue;
}

.buttonRightFocus {
    border-color: #2253e5;
    background-color: lightblue;
}

.title {
    color: black;
    font-size: xxx-large;
    font-weight: 500;
}

.container {
    max-width: 700px;
    padding-bottom: 30vh; 
}

.form {
    margin-top: 1vh;
}

.dobContainer {
    margin: 10px 0;
}

.dobInputs {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.dobInput {
    padding: 10px 0px;
    background-color: #ebebf2;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    text-align: center;
}

.label {
    color: black;
    font-weight: 500;
}

.zipCodeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.zipCodeInput {
    padding: 1vh 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    text-align: center;
}

.zipCodeInput:focus {
    
}