header {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  gap: 6px;
  font-size: 20px;
  /* padding: 0 15px; */
}

.header-left,
.header-left-nav,
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-right: 15px;
}

.signup-button {
  height: 36px;
  width: 96px;
  border: 2px #2253e5 solid;
  background-color: white;
  color: #2253e5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

.signup-button:hover {
  height: 40px;
  width: 100px;
}

.signup-button:hover {
  cursor: pointer;
}

.header-left-item:hover {
  cursor: pointer;
  font-weight: 600;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}

.header-logo:hover {
  font-weight: 500;
  color: #2253e5;
}

.logo {
  max-width: 12vw;
  max-height: 14vh;
  margin-bottom: -6px;
  margin-right: -4vw;
  object-fit: contain;
}