.form-container {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initialForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

form {
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */
    width: 80%;
}

h1 {
    text-align: start;
    width: 80%;
    margin: 2%;
}

label {
    padding: 1%;
}

.gender-div {
    display: flex;
    flex-direction: column;
}

.dob-div {
    display: flex;
    flex-direction: column;
}

.date-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.date-input {
    width: 33%;
    margin: 2px;
}

.gender-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gender-input {
    width: 50%;
    margin: 2px;
}

.zipcode-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#zipcode-input {
    width: 100%;
}