header {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  gap: 6px;
  font-size: 20px;
  padding: 0 144px;
}

.header-left,
.header-left-nav,
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.signup-button {
  height: 36px;
  width: 96px;
  border: 2px black solid;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

.signup-button:hover {
  cursor: pointer;
}

.header-left-item:hover {
  cursor: pointer;
}

.header-logo {
  font-weight: 600;
}
