.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 85vh;
}

.Home {
  padding-top: 96px;
  background-color: #ebebf2;
  color: black;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  flex: 1;
  height: 80vh;
}

.home_main {
  display: flex;
  justify-content: flex-start;

  padding-left: 20%;
  padding-right: 10%;
  width: 100vw;
}

@media (max-width: 1000px) {
  .home_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.home_main_img_rect {
  width: 100%;
  object-fit: cover;
  height: 150px;
}
.logoContainer {
  margin-top: 25px;
  width: 100vw;
}

.home_main_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home_main_text_title {
  width: 600px;
  font-size: 48px;
  /* font-weight: 600; */
}

.home_main_img {
  min-height: 180px;
  min-width: 290px;
}

.home_main_categories {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  gap: 16px;
}

.home_main_category {
  height: 84px;
  width: 260px;
  border: 2px rgb(219, 219, 219) solid;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
}

.home_main_category:hover {
  cursor: pointer;
  border: 2px #74959A solid;
}

.home_main_category_life {
  height: 84px;
  width: 260px;
  border: 2px rgb(219, 219, 219) solid;
  background-color: #0254ee;
  /* background-color: #74959A; */
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  font-weight: 600;
  color: white;
}

.home_main_category_life:hover {
  cursor: pointer;
  border: 2px #FCC900 solid;
  color: #FCC900;
  font-weight: bold;
}

.home_main_category_life_text:hover {
  color: white;
}

.home_main_subtext {
  /* padding-left: 12px; */
  font-size: 0.8rem;
}

.home_main_text_subtitle {
  color: #98B4AA;
}

.home_sub {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
  gap: 232px;
}

.home_sub_right {
  display: flex;
  gap: 48px;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}